.border{
    border: 2px solid red;
    margin: 3px;
}

.bg-black{
    background-color: #000;
    color: #fff;
}

.flex{
    display: flex;
}

.justify-content{
    justify-content: center;
}

.align-item{
    align-items: center;
}

.flex-dir-col{
    flex-direction: column;
}

.bg-gray{
    background-color: #121212;
    color: white;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}
.rounded{
    border-radius: 7px;
}

.font-700{
    font-weight: 700;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #000, #2a2a2a);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #222, #444);
}
